<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16349884751-cab2jv42139qugfo2a7j76vp2hdkdb05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16349884751-cab2jv42139qugfo2a7j76vp2hdkdb05</string>
	<key>API_KEY</key>
	<string>AIzaSyAonQEfa-JM-jDh5wHY2GVvgX3J-QBIpQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>16349884751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelAlmaty</string>
	<key>PROJECT_ID</key>
	<string>travelalmaty-f8901</string>
	<key>STORAGE_BUCKET</key>
	<string>travelalmaty-f8901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16349884751:ios:5cccdd80eca3079cbad53a</string>
</dict>
</plist>